<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Retest">
   <classes>
   <class name="Mobile_world.sign_in1"/>
   <class name="Mobile_world.sign_up1"/>
   <class name="Mobile_world.all_mobiles1"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
